* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.main-div {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image:    linear-gradient(45deg, rgba(164,194,238,1) 36%, rgba(0,102,255,1) 100%);
}

.sub-card {
  height: 89vh;
  width: 52rem;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  /* align-items: center;
    justify-content: center; */
  background-color: white;
  box-shadow: 10px 10px 20px black;
}
.image-div {
  display: block  !important;
  height: 31rem;
  margin-top: 15px;
  margin-left: 15px;
  width: 25rem;
}
.bg-img {
  height:31rem;
  width: 25rem;
  border-radius: 5px;
}
.login-div {
  display: flex;
  width: 28rem;
  height: 31rem;
  font-size: larger;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 0px;
  align-items: center;

  /* background-color: blue; */
  justify-content: center;
}
.input-style {
  margin-top: 5px !important;
  height: 2rem;
  width: 17rem;
  outline: none ;
  padding-left: 12px;
border-top: none ;
border-left: none;
border-right: none;
  align-self: center;
  /* background-color: gray;
  border-radius: 5px; */
}


.input-text {
  /* align-self: center; */
  margin-top: 10px !important;
margin-right:220px;
  font-family: "Poppins", sans-serif;
}
.input-text-password{
  margin-top: 10px !important;
  margin-right:220px;
    font-family: "Poppins", sans-serif;
}
.password-div {
  align-self: center;
  position: relative;
}

.password-icon {
  position: absolute;
  top: 0.7rem;
  right: 0.3rem;
}
.login-btn {
  background-color: rgba(0, 102, 255, 1);
  margin-top: 2rem !important;
  padding: 8px 0px 8px 0px;
  width: 280px;
  font-size: large;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 5px;
}
.login-btn:hover {
  /* transition: transform 1s;
    transform: scaleX(1.5) ; */
}


.or-text-div{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

}
.line-text-left{
  margin-left: 2px;
  width: 7rem;
  margin-right: 2px;
padding-top: 7px;
  
  /* padding: 0px 15px 0px 15px; */
}
.login-text{
  font-size: 22px;
  font-family: "Poppins", sans-serif !important;
}
.hr-line{
  color: black !important;
}
.line-text-right{
  width: 7rem;
  margin-left: 2px;
padding-top: 7px;
  
  /* padding: 0px 15px 0px 15px; */
}
.google-btn-div {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 10px;

  align-items: center !important;
}
.google-btn {
    cursor: pointer;
  background-color: gray;
  width: 270px;
  padding: 10px 5px 5px 10px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: none;

  border-radius: 5px;
}
.continue-google-text {
  align-self: center;
  color: white;
  margin-left: 10px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
}
.google-img {
  height: 2rem;
  width: 2rem;
}
.dont-have-text{
  padding: 0px 0px 0px 10px;

}
.signup-text {
  color: blue;
  /* padding: 0px 0px 0px 0px; */

  text-decoration: underline;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background:none;
  margin-left: 5px;
}
.signup-div {
  margin-top: 1rem;
  display: flex;
  padding: 0px 20px 0px 20px;
  flex-direction: row;
}
.forgot-btn {
  border: none;
  background: none;
  width: 10rem;
  margin-top: 2rem;
  cursor: pointer;

  border-radius: 10px;
  font-size: medium;
  margin: 10px 0px 0px 0px;
  padding: 5px 0px 5px 0px;
}
span {
  color: red;
  font-size: small;
  margin-top: 8px;
}


/* media Query Starts Here */

/* <------------Media query for Mobile devices---------> */
@media screen and (min-width: 320px) and (max-width: 375px) {

.main-div{
  width: 100vw;
  height: 100vh;
}
.sub-card{
  height: 98%;
  width: auto;
  box-shadow: 10px 10px 20px black;
}
.image-div{
  display: none;
}
.login-div{
 display: flex;
 height: 19rem;
 font-size: smaller;
 width: auto;
 margin-top: px;
 flex-direction: column;
}
.login-text{
  font-size: 20px;
  padding: 2px 0px 0px 0px  !important;
  margin-top: 2px !important;
}
.input-text{
  margin-left: 10px;
  margin-top: 5px !important;
}
.input-style{
  margin-top: 5px;
  width: 15rem;
  outline: none !important ;
  border-top: none ;
border-left: none;
border-right: none;
}
.login-btn{
  margin-top: 10px !important;
  width: 235px;
  padding: 5px 0px 5px 0px !important;

  font-size: medium;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;
}
.or-text-div{
  display: none !important;
}
.google-btn-div{
  margin-top: 12px;
}
.login-text{
  margin-top: 10px;
}
.forgot-btn {
  border: none;
  background: none;
  width: 10rem;
  margin-top: 1rem !important;
  cursor: pointer;
font-size: small !important;
  border-radius: 10px;
  font-size: medium;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.google-btn{
  width: 230px;
  padding:7px 7px 7px 1px;
}
.continue-google-text{
  font-size: smaller;
}
.or-text-div{
  display: flex;
  flex-direction: row;
  margin-top: 5px;

}
.or-text{
  font-size: 12px !important;
}
.google-img{
  height: 1rem;
  width: 1rem;
}
.input-text{
  margin-right: 200px;
  
}
.input-text-password{
  margin-right: 180px !important;
}
.signup-div {
  margin-top: 18px;
  display: flex;
  padding: 0px 20px 10px 20px;
  flex-direction: row;
}

}

@media screen and (min-width: 376px) and (max-width: 425px) {
.main-div{
  width: 100vw;
  height: 100vh;
}
.sub-card{
  width: 85vw;
  height: 97%;
}
.image-div{
  display: none;
}
.login-div{
  height: 22rem;
  margin-top: 5px !important;
}
.login-text{
  font-size: 18px;
  margin-top: 0px;
}
.input-text{
  margin-left: 10px;
  margin-top: 0px !important;
}
.input-style{
  margin-top: 0px;
  width: 15rem;
  outline: none !important ;
  border-top: none ;
border-left: none;
border-right: none;
}
.login-btn{
  margin-top: 10px !important;
  padding:none !important;
  width: 235px;
  font-size: smaller;
  letter-spacing: 1px;
  color: white;
  height: 28px;

  border: none;
  cursor: pointer;
}
.input-text{
  font-size: small;
  margin-right: 200px;
}
.google-img{
  height: 1rem;
  width: 1rem;
}
.continue-google-text{
  font-size: small;
}

.or-text-div{
  margin-top: 0px;
}
.or-text{
  font-size: 12px;
}
.google-btn-div{
  margin-top: 5px;
  
}
.login-text{
  margin-top: 0px;
}
.google-btn{
  width: 230px;
  padding:5px 1px 5px 1px;
}
.f
.input-text{
  font-size: small;
  margin-right: 200px;
  
}
.input-text-password{
  font-size: small;

  margin-right: 180px !important;
}
.forgot-btn {
  margin-top: 10px !important;
  padding: 0px 0px 0px 0px;
  font-size: small;

}

.dont-have-text{
  font-size: smaller;
}
.signup-text{
  font-size: smaller !important;
}

}
@media screen and (min-width: 426px) and (max-width: 660px)
{
 .main-div{
  width: 100%;
  align-items: center;
 }
 .sub-card{
  align-items: center;
  justify-content: center;
 }
 .image-div{
  /* display: none; */
 }
}
@media screen and (min-width: 660px) and (max-width: 766px) 
{
.main-div{
height: 100vh;
width: 100vw;
}
.sub-card{
height: 94%;
width: 98%;
}
.image-div{
  height: 24rem;
  margin-top: 5px;
  margin-left: 15px;
  width: 22rem;
}
.bg-img {
  height: 23rem;
  width: 22rem;
  border-radius: 5px;
}
.login-div{
  height: 26rem;
  width: 28rem;
  font-size: large;
  margin-top: 0rem;
}
.input-text {
  margin-top: 10px !important;
margin-right:220px;
font-size: medium;
  font-family: "Poppins", sans-serif;
}
.input-text-password{
  margin-top: 10px !important;
  margin-right:200px;
  font-size: medium;

    font-family: "Poppins", sans-serif;
}
.login-btn{
  padding: 5px 0px 5px 0px;
  margin-top: 10px !important;
  font-size: medium !important;
  width: 250px;
}
.forgot-btn{
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.or-text-div{
  margin-top: 3px;
}
.or-text{
  font-size: small;
}
.google-btn-div{
  margin-top: 7px;

}
.google-btn{
  padding: 4px 2px 4px 2px;
  width: 250px;
}
.google-img{
  height: 1rem;
  width: 1rem;
}
.dont-have-text{
  font-size: medium;
}
.signup-text{
}
.signup-div{
  margin-top: 10px;
  padding: 0px 20px 10px 20px;
}
}

@media screen and (min-width: 668px) and (max-width: 766px)
{
.main-div{
  width: 100% !important;
}

}

/* @media screen and (min-width: 768px) and (max-width: 1024px)
 {

  .main-div{
height: 100vh;
width: 100vw;
  }
  .sub-card{
    height: 90%;
    width: 52rem;

  }
  .image-div{
    height: 35rem;
    margin-top: 15px;
    margin-left: 15px;
    width: 28rem;
  }
  .bg-img{

  }
  .login-div{
    
  }


} */
@media screen and (min-width: 1024px) and (max-width: 1440px) {

}

@media screen and (min-width: 412px)
{
.main-div{
/* align-items: center;
justify-content: center; */
}
.sub-card{
  padding: none;
}
.image-div{
  display: none;
}
.login-div{
  /* margin-top: 50px !important; */
  padding: 10px 0px 10px 0px;
}
}

