.main-div-forgot {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    45deg,
    rgba(164, 194, 238, 1) 36%,
    rgba(0, 102, 255, 1) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forgot-div {
  height: 25rem;
  width: 38rem;
  background-color: white;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-forgot-password-model{
    display: none;
}

/* Css styles Starts Here */
.model-main{
    height: 25rem;
    width: 38rem;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.model-sub-div {
    display: flex;
    height: 90%;
    width: 70%;
    /* background-color: black; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .otp-div-content{
    padding-top: 10px;
  }

  .verify-otp-btn{
    background-color: blue;
    border: none;
    height: 2rem;
    width: 13rem;
border-radius: .5rem;
    color: white;
    margin-top: 25px;
align-self: center;
    padding: 10px 20px 10px 20px;
  }
  .sub-content-otp{
    padding: 5px 2px 5px 2px;
  }
  .back{
    border: none;
    height: 2rem;
    width: 13rem;
    border-radius: .5rem;
background-color: gray ;
    color: black;
    margin-top: 10px;
align-self: center;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
 


.key-div {
  /* background-color: white; */
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  background-color: blue;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.key-svg {
  rotate: 360deg;
}
.inputbox-email {
  margin-top: 2rem;
  height: 3rem;
  width: 20rem;
  outline: none;
  padding-left: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  align-self: center;
}
.content-div-password{
    height: 20rem;
    margin: 5px;
    width: 30rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}
h4{
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 10px;
}
.sub-heading-text{
   
    margin-top: 15px;  
}
.input-div{
    display: flex;
    flex-direction: column;
}
.reset-link-btn{
    background-color: blue;
    border: none;
    height: 2rem;
    width: 14rem;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
align-self: center;
    padding: 10px 20px 10px 20px;
}
.back-login{

    border: none;
    height: 2rem;
    width: 14rem;
    border-radius: 5px;
    color: black;
    margin-top: 25px;
align-self: center;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.back-text{
    color: black;
    padding: 0px 0px 0px 5px;
}


/* media query Starts here  */

@media only screen and (min-width: 320px) and (max-width: 375px) {  

  .main-div-forgot {
    height:100%;
    width: 100%;
  }
  .forgot-div {
    height: 20rem;
    width: 20rem;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  
}