.main-div-resetpassword{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      45deg,
      rgba(164, 194, 238, 1) 36%,
      rgba(0, 102, 255, 1) 100%
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sub-div-resetpassword{
    height: 27rem;
    width: 26rem;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-resetpassword {
    display: flex;
    height: 26rem;
    width: 24rem;
    flex-direction: column;
    align-items: center;
  }
  .key-div-resetpassword {
    /* background-color: white; */
    height: 4rem;
    width: 4rem;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    background-color: blue;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }
  .key-svg-resetpassword {
    rotate: 360deg;
  }
  .content-div-resetpassword{
    display: flex;
    height: 50vh;
    width: 85%;
    margin-top: 10px;
    align-items: center;
    /* background-color: black; */
    flex-direction: column;
    margin-top: 5px;

  }
  .input-text-reset{
    font-size: medium;
    margin-top: 5px;
    padding: 0px 0px 5px 0px;
    /* font-weight: bold; */
    font-family: "Poppins", sans-serif;

    

}
  .password-content-resetpassword{
position: relative;

}
  .err-div-reset{
    width: 72%;
  }
  .eye-icon-reset{
    position: absolute;
    top: 0.7rem;
    right: 0.2rem;

  }
  .inputbox-style-resetpassword{
      height: 2rem;
      width: 14rem;
      outline: none ;
      padding-left: 12px;
    border-top: none ;
    border-left: none;
    border-right: none;
      align-self: center;
   
  
      /* background-color: gray;
      border-radius: 5px; */
    }
    .btn-div-reset{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .reset-btn{
        background-color: blue;
        border: none;
        height: 2rem;
        width: 14rem;
    border-radius: 0.2rem;
        color: white;
    align-self: center;
    }
    .back-login-resetpassword{
        border: none;
        height: 2rem;
        width: 14rem;
        border-radius: 0.2rem;
    background-color: gray;
        color: black;
        margin-top: 10px;
    align-self: center;
        padding: 10px 20px 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
      }