*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-div-signup{

    display: flex ;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center !important ;
}