*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    box-sizing: border-box;
}
.main-div-signup{

    display: flex ;
    flex-direction: column;
    height: 100vh;
    background-image:    linear-gradient(45deg, rgba(164,194,238,1) 36%, rgba(0,102,255,1) 100%);

    width: 100vw;
    justify-content: center;
    align-items: center !important ;
}
.sub-content{
    display: flex;
    flex-direction: row;
border-radius: 10px;
height: 90%;
width: 80vw;
align-items: center;
justify-content: center;
background-color: white;

}
.images-div{
    height: 95%;
    width: 30vw;
    overflow: hidden;


}
.bg-img-signup {
    height:31rem;
    width: 30rem;
    /* margin-left: 15px; */
    border-radius: 5px;
 
  }
.contents-main-div{
    height: 96%;
    width: 44vw;
}
.contents-div{
    height: 62%;
    /* width: 100%; */
    margin-top: 1rem !important;
 display: grid;
 margin: 5px;
 /* margin-left: 15px; */
 grid-template-columns:auto auto ;
 grid-column-gap: 1rem !important;
 /* grid-row-gap: 1rem !important; */

 /* background-color: blue; */


}
.grid-items{
    /* height: 60%; */
    width: 20vw;
    /* margin-top: 15px; */
    margin-right: 10px;
    margin-left: 15px;
/* background-color: black; */
    /* justify-content: space-around; */
}
.input-text-signup{
    font-size: medium;
    /* font-weight: bold; */
    font-family: "Poppins", sans-serif;

    

}
.inputbox-style{
  margin-top: -5x;
    height: 2rem;
    width: 14rem;
    outline: none ;
    padding-left: 12px;
  border-top: none ;
  border-left: none;
  border-right: none;
    align-self: center;
 

    /* background-color: gray;
    border-radius: 5px; */
  }
  .inputbox-style-number{
    height: 2rem;
    width: 14rem;
    outline: none ;
    padding-left: 12px;
  border-top: none ;
  border-left: none;
  border-right: none;
    align-self: center;
 

    /* background-color: gray;
    border-radius: 5px; */
  }
  input[type="number"] {
    -webkit-appearance: none; 
    margin: 0; 
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}




  .password-div-signup {
    align-self: center;
    position: relative;
  }
  
  .password-icon-signup {
    position: absolute;
    top: 0.8rem;
    right: 2.9rem;
  }
  .err-msg-span{
    word-wrap: break-word !important;
    text-wrap: wrap !important;
    width: 100% !important;
  }

  .btn-content{
  }
  .signup-heading{
    text-align: center;
  }
  .btn-main-div{
    display: flex;
justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;

  }
  .signup-btn {
    background-color: green;
    /* background-color: rgba(0, 102, 255, 1); */
    padding: 8px 0px 8px 0px;
    width: 200px;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
  
    border-radius: 5px;
  }
  /* .already-div{
height: 2rem !important;
    width: 700px !important;
   
  } */
  .signup-btn:hover{
/* transform: scaleX(1) !important;
border: 1px solid black; */
  }
  .cancel-btn {
    background-color: gray;
    padding: 8px 0px 8px 0px;
    width: 200px;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
  
    border-radius: 5px;
  }
  .cancel-btn:hover{
    /* border: 1px solid black; */
  }
  .or-text-div-main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  
  }
  .or-text-signup{
    text-align: center;
    font-size: small !important;
    margin-top: 5px;
  }
  .google-btn-signup-div {
    display: flex;
  
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    margin-top: 5px;
justify-content: center !important;  
  }
  .google-img{
    height: 1.5rem;
    width: 1.5rem;
  }
  .already-div{
    display: flex;
    margin-top: 7px;
    flex-direction: row;
  
  }
  .login-btn-signup{
    color: blue;
    /* padding: 0px 0px 0px 0px; */
  
    text-decoration: underline;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background:none;
    margin-left: 5px;
  }

  .already-content{
  }
  .google-btn-signup {
    cursor: pointer;
    background-color: rgba(0, 102, 255, 1);
    width: 270px;
  padding: 5px 1px 5px 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  flex-direction: row;
  border: none;

  border-radius: 5px;
}
.google-btn-signup:hover{
/* border: 1px solid black; */
}
.continue-google-text-signup {
  align-self: center;
  color: white;
  justify-self: center !important;
  margin-left: 10px;
  margin-top: 0px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {


  .main-div-signup{
height: 100vh;
width: 100%;
  }
  .sub-content{
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 99%;
  }
  .images-div{
    display: none;
  }
  .bg-img-signup{
    display: none;
  }
.contents-main-div{
  width: 95%;
  height: 100%;
  overflow-y: scroll !important;

  

}
  .contents-div{
    height: 85%;
      width: 95%;
    display: grid;
 
    margin: 0;
    margin: 0px 5px 0px 0px;
    margin-top: 0px !important;
    grid-template-columns: none;
  }
  .grid-items{
    width:auto;
    margin-right: 0px;

  }
  .input-text-signup{
    margin-top: 10px;
    font-size: smaller;
    
  }
  .inputbox-style{
    width: 10rem;
    height: 1.5rem;
  }
  .inputbox-style-number{
    width: 10rem;

  }
  .password-icon-signup {
    position: absolute;
    top: 0rem;
    right: 3.5rem;
  }
  .btn-main-div{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .signup-btn{
    width: 200px;
    height: 30px;
    font-size: small;
    padding: 8px 8px 8px 8px;

  }
  .cancel-btn{
    
    width: 200px;
    height: 30px;
    font-size: small;
    padding: 8px 8px 8px 8px;
    margin-top: 10px;
  }
  .or-text-div-main{
    display: none;
  }
  .google-btn-signup-div{
    margin-top: 5px;
  }
  .google-img{
    height: 1rem;
    width: 1rem;
  }
  .google-btn-signup{
    width: 200px;
    height: 30px;

    padding: 5px 5px 5px 5px;

  }
  .continue-google-text-signup{
    font-size: small;
  }


}

@media only screen and (min-width: 375px) and (max-width: 425px) {

  .main-div-signup{
    height: 100vh;
    width: 100%;
  }
  .sub-content{
    display: flex;
    flex-direction: row;
    height: 97%;

  }
  .images-div{
    display: none;
  }
  .contents-main-div{
    height: 96%;
    width:97%;
    overflow-y: scroll !important;

  }
.contents-div{
  display: grid;


grid-template-columns: none;
  /* background-color: black; */
    width: 90%;
    grid-column-gap: 0rem !important;

    height: 90%;
    margin-top: 5px !important;
    margin-left: 15px;
}
.grid-items{
  width: 96%;
  height:90% ;
}
.input-text-signup{
  font-size: smaller;
  margin-top: 0px !important;
}
.btn-main-div{
  margin: 0;
}
.signup-btn{
  width: 200px;
  height: 35px;
  padding: 0px 0px 0px 0px;
}
.cancel-btn{
  width: 200px;
  height: 35px;
  padding: 0px 0px 0px 0px;
}
.inputbox-style{
  width: 14rem;
  height: 1rem;
}
.inputbox-style-number{
  width: 14rem;

}
.password-icon-signup {
  position: absolute;
  top: -0.5rem;
  right: 2.2rem;
}
.or-text-div-main{
  display: none;
}
.google-btn-signup{
  width: 200px;
  height: 30px;
  padding: 5px 8px 5px 8px;
}
.google-img{
  height: 1rem;
  width: 1rem;
}


}

@media only screen and (min-width: 426px) and (max-width: 660px)
{

.main-div-signup{
height: 100vh;
}
.images-div{
  display: none;
}
.sub-content{
  width: 95%;
}
.contents-main-div{
  height: 98%;
  width: 96%;
overflow-y: scroll;
}
.contents-div{
  height: 55%;
  grid-template-columns:auto auto ;
  grid-column-gap:none;
  margin: 0px 5px 0px 0px;


}
.grid-items{
  /* height: 60%; */
  width: 78%;
  /* margin-top: 15px; */
  margin-right: 10px;
  margin-left: 15px;
/* background-color: black; */
  /* justify-content: space-around; */
}
.input-text-signup{
  font-size: small;
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;

  

}
.inputbox-style{
    height: 2rem;
    margin-top: 0px;
    width: 10rem;
    outline: none ;
    padding-left: 12px;
  border-top: none ;
  border-left: none;
  border-right: none;
    align-self: center;
 

    /* background-color: gray;
    border-radius: 5px; */
  }
  .inputbox-style-number{
    height: 2rem;
    width: 10rem;
    outline: none ;
    padding-left: 12px;
  border-top: none ;
  border-left: none;
  border-right: none;
    align-self: center;
 

    /* background-color: gray;
    border-radius: 5px; */
  }
  .password-icon-signup {
    position: absolute;
    top: 0.8rem;
    left: 8.5rem;
  }
  
  
.signup-btn{
  background-color: green;
  /* background-color: rgba(0, 102, 255, 1); */
  padding: 8px 0px 8px 0px;
  width: 100px;
  font-size: large;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 5px;}
  .cancel-btn{
    background-color: gray;
    padding: 8px 0px 8px 0px;
    width: 100px;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
  
    border-radius: 5px;
  }
  .google-btn-signup {
    cursor: pointer;
    background-color: rgba(0, 102, 255, 1);
    width: 220px;
  padding: 1px 1px 1px 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border: none;

  border-radius: 5px;
}
.or-text-signup{
  font-size: smaller;
}


}

@media only screen and (min-width: 660px) and (max-width: 768px) {

  .main-div-signup{
    height: 100vh;
    width: 100%;
  }
  .sub-content{
    display: flex;
    flex-direction: row;
    height: 97%;
    width: 95%;
  }
  .images-div{
    height: 97% ;
    width: 50%;
  
    }
    .bg-img-signup {
      height:97%;
      width: 100%;
      /* margin-left: 15px; */
   
    }
    .contents-main-div{
      height: 97%;
      overflow-y: scroll;

      width: 50%;

    }
.contents-div{
  height: 70%;
  width: 90%;
  margin-left: 18px;
  grid-template-columns:none ;
  /* grid-column-gap: 1rem !important; */
}
.grid-items{
  /* height: 50%; */
  width: 90%;
  /* margin-top: 15px; */
  margin-left: 15px;

}
.password-icon-signup{
  position: absolute;
  top: 0.8rem;
  right:4.5rem;}
.input-text-signup{
  font-size: small;
}
.or-text-div-main{
  margin-top: 2px;
}
.btn-main-div{
  display: flex;
  justify-content: space-around;
      flex-direction: row;
      margin-top: 70px;
}
.signup-btn {
  background-color: green;
  /* background-color: rgba(0, 102, 255, 1); */
  padding: 5px 0px 5px 0px;
  width: 100px;
  font-size: large;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 5px;
}
.cancel-btn {
  background-color: gray;
  padding: 5px 0px 5px 0px;
  width: 100px;
  font-size: large;
  letter-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 5px;
}
.google-btn-signup{
  cursor: pointer;
  background-color: rgba(0, 102, 255, 1);
  width: 180px;
padding: 5px 1px 5px 5px;
align-items: center;
justify-content: center;
display: flex;
height: 30px;
flex-direction: row;
border: none;

border-radius: 5px;
}
.google-img{
  height: 1rem;
  width: 1rem;
}
.continue-google-text-signup{
  font-size: small;
}

.already-content{
  font-size: small;
}
.login-btn-signup{
  font-size: small;
}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
.main-div-signup{
  height: 100vh;
  width: 100vw;
}
.sub-content{
  height: 93%;
  width: 93%;
}
.images-div{
  height: 93%;
  width: 50%;
  overflow: hidden;
}
.bg-img-signup{
  width: 99%;
  height: 100%;

}
.contents-main-div{
  height: 100%;
  width: 57%;

}
.contents-div{
  height: 59%;
  padding: 5px 0px 0px 0px;
  grid-column-gap: 0px !important;

}
.grid-items{
    /* height: 60%; */
    width: 85%;
    /* margin-top: 15px; */
    margin-right: 10px;
    margin-left: 15px;

}
.input-text-signup{
  font-size: medium;
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;

  

}
.inputbox-style{
  margin-top: -5x;
    height: 2rem;
    width: 10rem;
    outline: none ;
    padding-left: 12px;
  border-top: none ;
  border-left: none;
  border-right: none;
    align-self: center;
 

    /* background-color: gray;
    border-radius: 5px; */
  }
  .inputbox-style-number{
    height: 2rem;
    width: 10rem;
    outline: none ;
    padding-left: 12px;
  border-top: none ;
  border-left: none;
  border-right: none;
    align-self: center;
 

    /* background-color: gray;
    border-radius: 5px; */
  }

  .password-icon-signup {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
  }
  .btn-main-div{
    margin-top: 5px;
  }
  .signup-btn {
    background-color: green;
    /* background-color: rgba(0, 102, 255, 1); */
    padding: 5px 0px 5px 0px;
    width: 110px;
    font-size: medium;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
  
    border-radius: 5px;
  }
  .cancel-btn {
    background-color: gray;
    padding: 5px 0px 5px 0px;
    width: 110px;
    font-size: medium;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
  
    border-radius: 5px;
  }
  .or-text-div-main{
    margin-top: 8px;
  }
.or-text-signup{
  font-size: medium;
}
.google-img{
  height: 1rem;
  width: 1rem;
}
.google-btn-signup {
  cursor: pointer;
  background-color: rgba(0, 102, 255, 1);
  width: 230px;
padding: 1px 1px 1px 1px;
align-items: center;
justify-content: center;
display: flex;
height: 32px;
flex-direction: row;
border: none;

border-radius: 5px;
}
.continue-google-text-signup{
  font-size: medium;
}
.already-div{
  margin-top: 15px;
}
.already-content{
  font-size:medium;
}
.login-btn-signup{
  font-size: medium;
}

}
